html {
  font-size: $size--base;

  &, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: rem(3px);
    background: $color--accent;
  }

  @include breakpoint(phablet) {
    font-size: rem($size--base - 2px);
  }
}

body {
  background: $color--background;
  padding: 0 rem($width--margin);
  color: $color--base;
  font-family: $font--base;
  line-height: rem($rythm--tick);
  text-size-adjust: 100%;
}

svg {
  vertical-align: top;
  width: 1em;
  height: 1em;
  fill: black;
  transition: trans(fill);
}

img {
  max-width: 100%;
  vertical-align: top;
}

hr {
  display: none;
}

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: $color--base;
  transition: trans(color), trans(opacity);

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: rem(3px);
    left: 0;
    border-bottom: rem(1.2px) solid transparent;
    border-color: $color--border;
    transition: trans(border-color);
  }

  &:hover,
  &:focus {
    color: $color--accent;
  }

  &:hover::after,
  &:focus::after {
    border-color: $color--accent-hover;
  }
}
