@charset 'UTF-8';

// Variables
//------------------------------------------------------------------------------

$breakpoint-laptop: 1440px;
$breakpoint-tablet: 1024px;
$breakpoint-phablet: 736px;
$breakpoint-phone: 480px;

$font--base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$size--base: 16px;
$size--heading: 1.125rem;
$size--minor: .9375rem;
$size--button: .875rem;
$size--top: .75rem;

$rythm--tick: 1.6875rem;

$width--body: $rythm--tick * 23;
$width--indent: $rythm--tick * 3;

$color--accent: #91BF65;
$color--accent-hover: #84B854;
$color--background: #fff;
$color--base: #333;
$color--heading: #111;
$color--border: #eee;
$color--minor: #777;
$color--error: #d10010;
$color--movie: #fffce8;
$color--movie-open: #f5f5f5;
$color--input: #e6e8eb;

$duration--base: 250ms;

// Mixins
//------------------------------------------------------------------------------

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == laptop {

    @media (max-width: $breakpoint-laptop) {
      @content;
    }

  } @else if $breakpoint == tablet {

    @media (max-width: $breakpoint-tablet) {
      @content;
    }

  } @else if $breakpoint == phablet {

    @media (max-width: $breakpoint-phablet) {
      @content;
    }

  } @else if $breakpoint == phone {

    @media (max-width: $breakpoint-phone) {
      @content;
    }

  }
}

// Reset
//------------------------------------------------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

// Base
//------------------------------------------------------------------------------

html {
  font-size: $size--base;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: $color--accent;
  }
}

body {
  background: $color--background;
  margin: $rythm--tick * 2 auto;
  padding: 0 5%;
  max-width: $width--body;
  color: $color--base;
  font-family: $font--base;
  line-height: $rythm--tick;
  text-size-adjust: 100%;
}

hr {
  display: none;
}

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: $color--base;
  transition: color $duration--base;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: .2rem;
    left: 0;
    border-bottom: .075rem solid transparent;
    border-color: $color--border;
    transition: border-color $duration--base;
  }

  &:hover,
  &:focus {
    color: $color--accent;
  }

  &:hover:after,
  &:focus:after {
    border-color: $color--accent-hover;
  }
}

// Common
//------------------------------------------------------------------------------

.is-loading {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: 3;
    top: -$rythm--tick;
    right: -$rythm--tick;
    bottom: -$rythm--tick;
    left: -($width--indent + $rythm--tick);
    background: rgba(#fff, .75);
  }
}

.container {
  position: relative;
  padding-left: $width--indent;

  > :first-child ~ * {
    margin-top: $rythm--tick * 2;
  }
}

%heading {
  font-weight: bold;
  font-size: $size--heading;
  color: $color--heading;
}

// Form
//------------------------------------------------------------------------------

.form {
  fieldset {
    position: relative;
  }

  input[type='text'],
  input[type='email'],
  input[type='submit'] {
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    font-family: $font--base;
  }

  input[type='text'],
  input[type='email'] {
    padding: .625rem 6.25rem .625rem 1.25rem;
    height: $rythm--tick * 2;
    width: 100%;
    font-size: 1rem;
    color: $color--base;
    border: 0;
    background: $color--input;
  }

  input[type='submit'] {
    position: absolute;
    top: .25rem;
    right: .25rem;
    bottom: .25rem;
    padding: 0 .625rem;
    font-size: $size--button;
    color: #fff;
    background: $color--accent;
    border: 0;
    cursor: pointer;
    transition: background $duration--base;

    &:hover,
    &:focus {
      background: $color--accent-hover;
    }

    &[disabled='disabled'],
    &[disabled='disabled']:hover,
    &[disabled='disabled']:focus {
      background: $color--accent-hover;
      opacity: .75;
    }
  }

  p {
    margin-top: $rythm--tick;
    line-height: $rythm--tick;
  }

  &__error {
    color: $color--error;
  }

  &__success {
    color: #7eb95d;
  }
}

// Header
//------------------------------------------------------------------------------

.header {
  &__top {
    position: absolute;
    right: 0;
    bottom: 100%;
    margin: ($rythm--tick / 2) 0;
    font-size: $size--top;

    a {
      color: #aaa;

      &:hover,
      &:focus {
        color: $color--accent-hover;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    line-height: $rythm--tick * 2;

    a {
      img {
        width: $rythm--tick * 2;
        vertical-align: middle;
      }

      &:after {
        display: none;
      }

      &:hover {
        opacity: .75;
      }
    }
  }
}

// Text
//------------------------------------------------------------------------------

.text {
  > :first-child ~ * {
    margin-top: $rythm--tick;
  }

  h2 {
    @extend %heading;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }
}

// Movie & Notification
//------------------------------------------------------------------------------

.movie, .notification {
  margin-left: -$width--indent;
  padding-left: $width--indent;
  position: relative;
  min-height: 5rem;

  img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: $rythm--tick;
    width: $rythm--tick * 2;
    border-radius: 2px;
  }

  h1 {
    @extend %heading;
  }

  &__release-date {
    time {
      font-weight: 600;
    }

    &--unavailable {
      color: $color--error;
    }
  }

  &__rotten-link {
    font-size: $size--minor;
  }

  & + & {
    margin-top: $rythm--tick * 2;
  }
}

.movie {
  &__synopsis,
  &__info {
    font-size: $size--minor;
    color: $color--minor;

    a {
      color: $color--minor;

      &:hover,
      &:focus {
        color: $color--accent-hover;
      }
    }
  }

  &__synopsis {
    max-height: $rythm--tick * 2;
    overflow: hidden;
  }

  &__info {
    margin: $rythm--tick 0;
  }

  &__subscribe {
    display: none;
  }

  &.is-open &__details {
    display: none;
  }

  &.is-open &__subscribe {
    display: block;
  }

  &--available {
    cursor: pointer;

    * {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: -$rythm--tick;
      right: -$rythm--tick;
      bottom: -$rythm--tick;
      left: -$rythm--tick;
      transition: background $duration--base;
    }

    &:hover:before {
      background: $color--movie;
    }

    &.is-open {
      cursor: default;

      &:before {
        background: $color--movie-open;
      }
    }
  }

  &--unavailable {
    opacity: .5;
  }
}
