html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

html {
  font-size: 16px; }
  html:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: #91BF65; }

body {
  background: #fff;
  margin: 3.375rem auto;
  padding: 0 5%;
  max-width: 38.8125rem;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6875rem;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

hr {
  display: none; }

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: #333; }
  a:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: .2rem;
    left: 0;
    border-bottom: 0.075rem solid #eee; }
  a:hover, a:focus {
    color: #91BF65; }
  a:hover:after, a:focus:after {
    border-color: #84B854; }

.is-loading {
  position: relative; }
  .is-loading:after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: -5.0625rem;
    background: rgba(255, 255, 255, 0.75); }

.container {
  position: relative;
  padding-left: 5.0625rem; }
  .container > :first-child ~ * {
    margin-top: 3.375rem; }

.text h2, .movie h1, .notification h1 {
  font-weight: bold;
  font-size: 1.25rem;
  color: #111; }

.form fieldset {
  position: relative; }
.form input[type='text'],
.form input[type='email'],
.form input[type='submit'] {
  box-sizing: border-box;
  border-radius: 2px;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.form input[type='text'],
.form input[type='email'] {
  padding: 10px 100px 10px 20px;
  height: 3.375rem;
  width: 100%;
  font-size: 1rem;
  color: #333;
  border: 0;
  background: #e6e8eb; }
.form input[type='submit'] {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  padding: 0 10px;
  font-size: 0.875rem;
  color: #fff;
  background: #91BF65;
  border: 0;
  cursor: pointer; }
  .form input[type='submit']:hover, .form input[type='submit']:focus {
    background: #84B854; }
  .form input[type='submit'][disabled='disabled'], .form input[type='submit'][disabled='disabled']:hover, .form input[type='submit'][disabled='disabled']:focus {
    background: #84B854;
    opacity: .75; }
.form p {
  margin-top: 1.6875rem;
  line-height: 1.6875rem; }
.form__error {
  color: #d10010; }
.form__success {
  color: #7eb95d; }

.header__top {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin: 0.84375rem 0;
  font-size: 0.75rem; }
  .header__top a {
    color: #aaa; }
    .header__top a:hover, .header__top a:focus {
      color: #84B854; }
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 3.375rem; }
  .header__logo a img {
    width: 3.375rem;
    vertical-align: middle; }
  .header__logo a:after {
    display: none; }
  .header__logo a:hover {
    opacity: .75; }

.text > :first-child ~ * {
  margin-top: 1.6875rem; }
.text strong {
  font-weight: bold; }
.text em {
  font-style: italic; }
.text del {
  text-decoration: line-through; }

.movie, .notification {
  margin-left: -5.0625rem;
  padding-left: 5.0625rem;
  position: relative;
  min-height: 80px; }
  .movie img, .notification img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 1.6875rem;
    width: 3.375rem;
    border-radius: 2px; }
  .movie__release-date time, .notification__release-date time {
    font-weight: bold; }
  .movie__release-date--unavailable, .notification__release-date--unavailable {
    color: #d10010; }
  .movie__rotten-link, .notification__rotten-link {
    font-size: 0.9375rem; }
  .movie + .movie, .notification + .movie, .movie + .notification, .notification + .notification {
    margin-top: 3.375rem; }

.movie__synopsis, .movie__info {
  font-size: 0.9375rem;
  color: #777; }
  .movie__synopsis a, .movie__info a {
    color: #777; }
    .movie__synopsis a:hover, .movie__synopsis a:focus, .movie__info a:hover, .movie__info a:focus {
      color: #84B854; }
.movie__synopsis {
  max-height: 3.375rem;
  overflow: hidden; }
.movie__info {
  margin: 1.6875rem 0; }
.movie__subscribe {
  display: none; }
.movie.is-open .movie__details {
  display: none; }
.movie.is-open .movie__subscribe {
  display: block; }
.movie--available {
  cursor: pointer; }
  .movie--available * {
    position: relative;
    z-index: 2; }
  .movie--available:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -1.6875rem;
    right: -1.6875rem;
    bottom: -1.6875rem;
    left: -1.6875rem; }
  .movie--available:hover:before {
    background: #fffce8; }
  .movie--available.is-open {
    cursor: default; }
    .movie--available.is-open:before {
      background: #f5f5f5; }
.movie--unavailable {
  opacity: .5; }
