@charset "UTF-8";

/*******************************************************************************
 *
 *  Premiefier
 *  Crafted with passion by Maciej Lamberski (http://lamberski.com).
 *
 ******************************************************************************/

/*  Reset
******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/*  Base
******************************************************************************/

html {
  border-top: 3px solid #90c060;
}

body {
  margin: 54px auto 54px;
  padding: 0 5%;
  max-width: 540px;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 27px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

hr {
  display: none;
}

/* Links */

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: #333;
}

a:after {
  content: "";
  position: absolute;
  bottom: 0.0625em;
  left: 0;
  right: 0;
  border-bottom: 2px solid #eee;
}

a:hover,
a:focus {
  color: #90c060;
}

a:hover:after,
a:focus:after {
  border-color: #90c060;
}

/*  Elements
******************************************************************************/

/* Common */

.is-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.is-loading {
  position: relative;
}

.is-loading:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .75);
}

/* Container  */

.container {
  position: relative;
  left: 40.5px;
}

.container > :first-child ~ * {
  margin-top: 54px;
}

/* Form */

.form p {
  margin-top: 27px;
  line-height: 27px;
}

.form__error {
  color: #E5802B;
}

.form__success {
  color: #7eb95d;
}

.form fieldset {
  position: relative;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="submit"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form input[type="text"],
.form input[type="email"] {
  padding: 10px 100px 10px 20px;
  height: 54px;
  width: 100%;
  font-size: 16px;
  color: #333;
  border: 0;
  background: #e6e8eb;
}

.form input[type="submit"] {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  background: #90c060;
  border: 0;
  cursor: pointer;
}

.form input[type="submit"]:hover,
.form input[type="submit"]:focus {
  background: #83b94e;
}

.form input[type="submit"][disabled="disabled"],
.form input[type="submit"][disabled="disabled"]:hover,
.form input[type="submit"][disabled="disabled"]:focus {
  background: #90c060;
  opacity: .75;
}

/* Header */

.header {
  position: relative;
}

.header h1 {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: 27px;
  line-height: 54px;
  font-size: 27px;
  color: #111;
  font-weight: bold;
}

.header h1 a:after {
  display: none;
}

.header h1 a img {
  width: 54px;
  vertical-align: middle;
}

.header h1 a:hover img {
  opacity: .75;
}

.top {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin: 13.5px 0;
  font-size: 12px;
}

.top a {
  color: #aaa;
}

.top a:hover,
.top a:focus {
  color: #90c060;
}

/* Text */

.text > :first-child ~ * {
  margin-top: 27px;
}

.text h2 {
  font-weight: bold;
  font-size: 20px;
  color: #111;
}

.text strong {
  font-weight: bold;
}

.text em {
  font-style: italic;
}

.text del {
  text-decoration: line-through;
}

/* Movie */

.movie {
  margin: -27px -27px -27px -108px;
  padding: 27px 27px 27px 108px;
  position: relative;
  min-height: 80px;
}

.movie + .movie {
  margin-top: 27px;
}

.movie:hover {
  background: #fffce8;
  cursor: pointer;
}

.movie img {
  position: absolute;
  top: 27px;
  left: 27px;
  margin-right: 27px;
  width: 54px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.movie h1 {
  font-weight: bold;
  font-size: 20px;
  color: #111;
}

.movie__release-date time {
  font-weight: bold;
}

.movie__release-date--unavailable {
  color: #E5802B;
}

.movie__synopsis,
.movie__info {
  font-size: 15px;
  color: #777;
}

.movie__synopsis a,
.movie__info a {
  color: #777;
}

.movie__synopsis a:hover,
.movie__synopsis a:focus,
.movie__info a:hover,
.movie__info a:focus {
  color: #90c060;
}

.movie__synopsis {
  margin-top: 27px;
}

.movie__info {
  margin: 27px 0;
}

.movie__subscribe {
  display: none;
}

.movie.is-open {
  background: #f5f5f5;
}

.movie.is-open:hover {
  background: #f5f5f5;
  cursor: default;
}

.movie.is-open .movie__details {
  display: none;
}

.movie.is-open .movie__subscribe {
  display: block;
}

/* Movie */

.notification {
  margin: -27px -27px -27px -108px;
  padding: 27px 27px 27px 108px;
  position: relative;
  min-height: 80px;
}

.notification + .notification {
  margin-top: 27px;
}

.notification img {
  position: absolute;
  top: 27px;
  left: 27px;
  margin-right: 27px;
  width: 54px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.notification h1 {
  font-weight: bold;
  font-size: 20px;
  color: #111;
}

.notification__release-date time {
  font-weight: bold;
}

.notification__release-date--unavailable {
  color: #E5802B;
}

.notification__synopsis,
.notification__info {
  color: #777;
}

.notification__synopsis a,
.notification__info a {
  color: #777;
}

.notification__synopsis a:hover,
.notification__synopsis a:focus,
.notification__info a:hover,
.notification__info a:focus {
  color: #90c060;
}

.notification__synopsis {
  margin-top: 27px;
}

.notification__info {
  margin: 27px 0;
}

.notification__subscribe {
  display: none;
}

.notification.is-open {
  background: #f5f5f5;
}

.notification.is-open:hover {
  background: #f5f5f5;
  cursor: default;
}

.notification.is-open .notification__details {
  display: none;
}

.notification.is-open .notification__subscribe {
  display: block;
}

/* Footer */

.footer,
.footer a {
  color: #aaa;
}

.footer a:hover,
.footer a:focus {
  color: #90c060;
}
