<script id="search-template" type="x-handlebars-template">
  {% raw %}
    <form method="post" action="api/search" class="form">
      <fieldset>
        <input type="text" name="title" placeholder="Enter movie title" value="{{params.title}}" autofocus>
        <input type="submit" value="Search" data-initial="Search" data-submit="Searching&hellip;">
      </fieldset>
      {{#if error}}
        <p>{{error}}</p>
      {{/if}}
    </form>
  {% endraw %}
</script>
