<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Premiefier{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,latin-ext" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <link href="images/icon.png" rel="apple-touch-icon-precomposed">
    <link href="images/favicon.png" rel="shortcut icon">
    <base href="{{ app.request.getUriForPath('/') }}">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="header__logo">
          <a href="{{ app.request.getUriForPath('/') }}">
            <img src="images/logo.svg" alt="">
          </a>
        </h1>
        {% block form %}{% endblock %}
      </header>

      {% block content %}{% endblock %}
    </div>

    {% include 'templates/movies.twig' %}
    {% include 'templates/notifications.twig' %}
    {% include 'templates/search.twig' %}
    {% include 'templates/subscribe.twig' %}
    {% include 'templates/unsubscribe.twig' %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
