<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}Premiefier{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,latin-ext" rel="stylesheet">
    <link href="styles/main.min.css" rel="stylesheet">
    <link href="images/icon.png" rel="apple-touch-icon-precomposed">
    <link href="images/favicon.png" rel="shortcut icon">
    <base href="{{ app.request.getUriForPath('/') }}">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="header__logo">
          <a href="{{ app.request.getUriForPath('/') }}">
            <svg viewBox="0 0 799.9 600">
              <path fill="#fff" d="M165.45 412.95L237 318.7l-112.05-37.95 25.8-73.75 109.7 42.25V128.7h76.75v120.55L448.95 207l26 73.75L361.2 318.7l71.25 94.25L369 460l-71.05-99.3-68 99.3z"/>
              <path d="M599.65 43.95c.166 1 .25 2.083.25 3.25v201L758.65 89.7c4.5-4.333 9.9-6.5 16.2-6.5 7 0 12.933 2.5 17.8 7.5 4.7 4.7 7.116 10.367 7.25 17v384.55c-.134 6.634-2.55 12.283-7.25 16.95-4.867 4.833-10.8 7.25-17.8 7.25-6.634 0-12.284-2.25-16.95-6.75l-.5-.5a3.642 3.642 0 0 0-.55-.45L599.9 351.7v199.5c-.367 13.2-5.2 24.616-14.5 34.25h-.2c-9.367 9.366-20.717 14.217-34.05 14.55H48.75c-13.367-.333-24.717-5.184-34.05-14.55C5.2 575.816.3 564.4 0 551.2V48.7c.3-13.3 5.2-24.633 14.7-34C24.033 5.2 35.383.3 48.75 0h502.4c13.333.3 24.683 5.2 34.05 14.7 8.3 8.2 13.116 17.95 14.45 29.25zM237 318.7l-71.55 94.25 64.5 47.05 68-99.3L369 460l63.45-47.05-71.25-94.25 113.75-37.95-26-73.75-111.75 42.25V128.7h-76.75v120.55L150.75 207l-25.8 73.75L237 318.7z"/>
              <path fill="none" d="M237 318.7l-71.55 94.25"/>
            </svg>
          </a>
        </h1>
        {% block form %}{% endblock %}
      </header>

      {% block content %}{% endblock %}
    </div>

    {% include 'templates/movies.twig' %}
    {% include 'templates/notifications.twig' %}
    {% include 'templates/search.twig' %}
    {% include 'templates/subscribe.twig' %}
    {% include 'templates/unsubscribe.twig' %}

    <script src="scripts/main.min.js"></script>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-78523892-5', 'auto');ga('send', 'pageview');</script>
  </body>
</html>
