<form method="post" action="{{ app.request.getUriForPath("/") }}">
    <fieldset>
        <input type="search" name="title" placeholder="Enter movie title here" value="{{ title }}" autofocus>
        <input type="submit" value="Search" data-initial="Search" data-processing="Searching&hellip;">
    </fieldset>

    {% if movie is defined %}
        {% if not movie.wasFound %}
            <p>Movie was not found.</p>
        {% elseif movie.isAlreadyReleased %}
            <p>This movie is already released.</p>
        {% endif %}
    {% elseif title is defined and not title %}
        <p>Enter movie title.</p>
    {% endif %}
</form>
