{% extends "layout.twig" %}

{% block content %}
  <div class="header">
    <h1>Error 404</h1>
    <p>Sorry, the page you are looking for could not be found. Go back to the <a href="#">home page</a>.</p>
  </div>
{% endblock %}
