{% extends "layout.twig" %}

{% block form %}
  <div class="top"><a href="unsubscribe">Want to opt out from notifications?</a></div>
  <div id="search-container"></div>
{% endblock %}

{% block content %}
  <div id="movies-container">
    <section class="text">
      <p><strong>Premiefier</strong> helps you to keep up to date with movie premieres. It will notify you about the upcoming premiere a week before via email. Don&apos;t worry, your email will only be used to send you notification, it will not be spammed. You can <a href="unsubscribe">opt out of notifications</a> in any moment.</p>
    </section>
  </div>
{% endblock %}
