{% extends "layout.twig" %}

{% block form %}
  <div class="top"><a href="">&larr; Get back to searching movies</a></div>
  <div id="unsubscribe-container"></div>
{% endblock %}

{% block content %}
  <div id="notifications-container">
    <div class="text">
      <p>Enter your email address to show all the movie premieres you have subscribed to.</p>
    </div>
  </div>
{% endblock %}
