{% extends "layout.twig" %}

{% block form %}
  <div id="unsubscribe-container"></div>
{% endblock %}

{% block content %}
  <div id="movies-container">
    <div class="text">
      <p>Enter your email address to list all movie premieres you&apos;re subscribed to.</p>
    </div>
  </div>
{% endblock %}
