{% extends "layout.twig" %}

{% block content %}
    <form method="post" action="{{ app.request.getUriForPath('/unsubscribe') }}">
        <fieldset>
            <input type="email" name="email" placeholder="Enter your email address" value="{{ email }}" autofocus>
            <input type="submit" value="Show movies">
        </fieldset>
        <p>Enter your email address to list all movie premieres you're subscribed to.</p>
    </form>
{% endblock %}
