<script id="unsubscribe-template" type="x-handlebars-template">
  {% raw %}
    <form method="get" action="api/notifications" class="form">
      <fieldset>
        <input type="email" name="email" placeholder="Enter your email address" value="{{params.email}}" autofocus>
        <button type="submit">Show movies</button>
      </fieldset>
      {{#if error}}
        <p class="form__error">{{error}}</p>
      {{/if}}
    </form>
  {% endraw %}
</script>
