{% extends "layout.twig" %}

{% block form %}
  <div class="header__top"><a href="unsubscribe">Want to opt out from notifications?</a></div>
  <div id="search-container"></div>
{% endblock %}

{% block content %}
  <div id="movies-container" class="loadable">
    <section class="loadable__item loadable__item--message text">
      <p><strong>Premiefier</strong> helps you to keep up to date with movie premieres. It will notify you about the upcoming premiere via email three days before. You can <a href="unsubscribe">opt out of notifications</a> in any moment.</p>
      <p>Check out the <a href="http://github.com/lamberski/premiefier" target="_new"> source on GitHub</a>. Made by <a href="http://lamberski.com" target="_new">Maciej Lamberski</a>.</p>
    </section>
  </div>
{% endblock %}
