.container {
  position: relative;
  padding-left: rem($width--indent);
  margin: rem($rythm--tick * 2) auto;
  max-width: rem($width--body);

  > :first-child ~ * {
    margin-top: rem($rythm--tick * 2);
  }
}
