.form {
  fieldset {
    border: 0;
    position: relative;

    &::before {
      border: rem(5px) solid rgba(#fff, 0.25);
      border-left-color: #fff;
      animation: loading 1s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 50%;
      right: rem(20px);
      width: rem(20px);
      height: rem(20px);
      margin-top: rem(-15px);
      transition: trans(opacity);
      opacity: 0;
      z-index: 10;
    }
  }

  input, button {
    box-sizing: border-box;
    border-radius: rem(2px);
    display: block;
    font-family: $font--base;
  }

  input {
    padding: rem(10px) rem(100px) rem(10px) rem(20px);
    height: rem($rythm--tick * 2);
    width: 100%;
    font-size: rem($size--base);
    color: $color--base;
    border: 0;
    background: $color--input;
  }

  button {
    position: absolute;
    top: rem(4px);
    right: rem(4px);
    bottom: rem(4px);
    padding: 0 rem(10px);
    font-size: rem($size--button);
    color: #fff;
    background: $color--accent;
    border: 0;
    cursor: pointer;
    transition: trans(background), trans(opacity), trans(visibility);
    visibility: visible;
    z-index: 10;

    &:hover, &:focus {
      background: $color--accent-hover;
    }
  }

  p {
    margin-top: rem($rythm--tick);
    line-height: rem($rythm--tick);
  }

  &__error {
    color: $color--error;
    animation: fade-in $duration--base ease-in-out;
  }

  &__success {
    color: #7eb95d;
  }

  &--loading {
    fieldset::before {
      opacity: 1;
    }

    button {
      opacity: 0;
      visibility: hidden;
      transition: trans(background), trans(opacity), trans(visibility, 0ms, $duration--base);
    }
  }
}
