.header {
  position: relative;

  &__top {
    position: absolute;
    right: 0;
    bottom: 100%;
    margin: ($rythm--tick / 2) 0;
    font-size: $size--top;

    a {
      color: #aaa;

      &:hover,
      &:focus {
        color: $color--accent-hover;
      }
    }
  }

  &__logo {
    position: absolute;
    top: rem($rythm--tick);
    left: rem(-$width--indent);
    transform: translateY(-50%);

    a {
      backface-visibility: hidden;

      svg {
        width: rem($rythm--tick * 2);
        fill: $color--accent;
      }

      &::after {
        display: none;
      }

      &:hover svg {
        fill: $color--accent-hover;
      }
    }
  }

  @include breakpoint(phablet) {
    margin-left: rem(-$width--indent);

    &__logo {
      top: auto;
      bottom: 100%;
      left: 0;

      a svg {
        width: rem($rythm--tick);
        position: relative;
        top: rem(3px);
      }
    }
  }
}
