.header {
  position: relative;

  &__top {
    position: absolute;
    right: 0;
    bottom: 100%;
    margin: ($rythm--tick / 2) 0;
    font-size: $size--top;

    a {
      color: #aaa;

      &:hover,
      &:focus {
        color: $color--accent-hover;
      }
    }
  }

  &__logo {
    position: absolute;
    top: rem($rythm--tick);
    left: rem(-$width--indent);
    transform: translateY(-50%);

    a {
      backface-visibility: hidden;

      img {
        width: rem($rythm--tick * 2);
      }

      &::after {
        display: none;
      }

      &:hover {
        opacity: .75;
      }
    }
  }

  @include breakpoint(phablet) {
    margin-left: rem(-$width--indent);

    &__logo {
      top: auto;
      bottom: 100%;
      left: 0;

      a img {
        width: rem($rythm--tick);
      }
    }
  }
}
