.loadable {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: rem(-$rythm--tick);
    right: rem(-$rythm--tick);
    bottom: rem(-$rythm--tick);
    left: rem(-($width--indent + $rythm--tick));
    background: rgba(#fff, .75);
    opacity: 0;
    visibility: hidden;
    transition: trans(opacity), trans(visibility, 0ms, $duration--base);
  }

  &__item {
    opacity: 0;
    animation: slide-down $duration--base forwards ease-in-out;

    &--message {
      animation-name: fade-in;
    }

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * 100ms;
      }
    }
  }

  &--loading {
    &::after {
      opacity: 1;
      visibility: visible;
      transition: trans(opacity), trans(visibility);
    }
  }

  @include breakpoint(phablet) {
    &::after {
      right: rem(-$width--margin);
      left: rem(-($width--indent + $width--margin));
    }

    &__item--message {
      margin-left: rem(-$width--indent);
    }
  }
}
