.loadable {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: -$rythm--tick;
    right: -$rythm--tick;
    bottom: -$rythm--tick;
    left: -($width--indent + $rythm--tick);
    background: rgba(#fff, .75);
    opacity: 0;
    visibility: hidden;
    transition: opacity $duration--base, visibility $duration--base $duration--base;
  }

  &__item {
    opacity: 0;
    animation-name: slide-down;
    animation-duration: $duration--base;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    &--message {
      animation-name: fade-in;
    }

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * 100ms;
      }
    }
  }

  &--loading {
    &::after {
      opacity: 1;
      visibility: visible;
      transition: opacity $duration--base, visibility $duration--base;
    }
  }
}
