.movie {
  margin-left: rem(-$width--indent);
  padding-left: rem($width--indent);
  position: relative;
  min-height: rem(80px);

  > * {
    transition: trans(opacity);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: rem($rythm--tick);
    width: rem($rythm--tick * 2);
    border-radius: rem(2px);
  }

  h1 {
    @extend %heading;
  }

  &__release-date {
    color: $color--success;

    time {
      font-weight: 600;
    }

    &--unavailable {
      color: $color--error;
    }
  }

  &__rotten-link {
    font-size: rem($size--minor);
  }

  & + & {
    margin-top: rem($rythm--tick * 2);
  }

  &__synopsis, &__info {
    font-size: rem($size--minor);
    color: $color--minor;

    a {
      color: $color--minor;

      &:hover,
      &:focus {
        color: $color--accent-hover;
      }
    }
  }

  &__synopsis {
    max-height: rem($rythm--tick * 2);
    overflow: hidden;
  }

  &__info {
    margin: rem($rythm--tick) 0;
  }

  &--available {
    cursor: pointer;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: rem(-$rythm--tick);
      right: rem(-$rythm--tick);
      bottom: rem(-$rythm--tick);
      left: rem(-$rythm--tick);
      transition: trans(background);
    }

    &:hover::before {
      background: $color--movie;
    }
  }

  &--fading > * {
    opacity: 0;
  }

  &--open {
    cursor: default;

    &::before {
      background: $color--movie-open;
    }
  }

  &__details {
    position: relative;
    top: 0;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    animation: position-in ($duration--base / 2) ease-in-out forwards;
    transition: trans(transform), trans(opacity), trans(visibility);
  }

  &__subscribe {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateX(5%);
    visibility: hidden;
    animation: position-out ($duration--base / 2) ease-in-out forwards;
    transition: trans(transform), trans(opacity), trans(visibility, 0ms, $duration--base);
  }

  &__subscribe &__show-details {
    animation: fade-out $duration--base ease-in-out forwards;
  }

  &__subscribe &__info {
    animation: scale-out $duration--base ease-in-out forwards;
  }

  &__subscribe &__form {
    animation: slide-up $duration--base ease-in-out forwards;
  }

  &--open &__details {
    position: absolute;
    opacity: 0;
    transform: translateX(-$rythm--tick);
    visibility: hidden;
    animation-duration: 0ms;
    animation-name: position-out;
    transition: trans(transform), trans(opacity), trans(visibility, 0ms, $duration--base);
  }

  &--open &__subscribe {
    position: relative;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    animation-duration: 0ms;
    animation-name: position-in;
    transition: trans(transform), trans(opacity), trans(visibility);
  }

  &--open &__subscribe &__show-details {
    animation-name: fade-in;
  }

  &--open &__subscribe &__info {
    animation-name: scale-in;
  }

  &--open &__subscribe &__form {
    animation-name: slide-down;
  }

  @include breakpoint(phablet) {
    &--available {
      &::before {
        right: rem(-$width--margin);
        left: rem(-$width--margin);
      }
    }
  }
}
