.text {
  > :first-child ~ * {
    margin-top: rem($rythm--tick);
  }

  h2 {
    @extend %heading;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }
}
