<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Premiefier{% endblock %}</title>
        <link href="styles/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href="{{ app.request.getUriForPath('/') }}">Premiefier</a></h1>
            <h2>Be notified about the premiere of awaited movie.</h2>
        </header>

        <hr>

        {% block content %}{% endblock %}

        <footer>
            <small>Made by <a href="//lamberski.com">Maciej Lamberski</a>. <a href="//github.com/lamberski/movie-notifier">Source on GitHub</a>.</small>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/analytics.js" async></script>
    </body>
</html>
